.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-white {
  color: white !important;
}

.text-shadow {
  text-shadow: black 0 0 6px;
}

.text-bold {
  font-weight: bold;
}

.justify-content-center {
  justify-content: center;
}

.align-self-center {
  align-self: center;
}

.row {
  flex: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  &.reverse {
    flex-direction: row-reverse;
  }

  &.non-reverse {
    flex-direction: row !important;
  }
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.center {
  display: block;
  width: fit-content;
  margin: auto;
}

.mt-16 {
  margin-top: 16px;
}

.mt-64 {
  margin-top: 64px;
}

.mb-32 {
  margin-bottom: 32px;
}

.p-16 {
  padding: 16px;
}

.ph-32 {
  padding-left: 32px;
  padding-right: 32px;
}

.pv-16 {
  padding-top: 16px;
  padding-bottom: 16px;
}

.pt-32 {
  padding-top: 32px;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

@media (min-width: 1025px) {
  .l-mt-64 {
    margin-top: 64px;
  }
}

@media (max-width: 1024px) {
  .s-none {
    display: none;
  }

  .col {
    &.s1 {
      width: 8.3333333333%;
    }

    &.s2 {
      width: 16.6666666667%;
    }

    &.s3 {
      width: 25%;
    }

    &.s4 {
      width: 33.3333333333%;
    }

    &.s5 {
      width: 41.6666666667%;
    }

    &.s6 {
      width: 50%;
    }

    &.s7 {
      width: 58.3333333333%;
    }

    &.s8 {
      width: 66.6666666667%;
    }

    &.s9 {
      width: 75%;
    }

    &.s10 {
      width: 83.3333333333%;
    }

    &.s11 {
      width: 91.6666666667%;
    }

    &.s12 {
      width: 100%;
    }
  }

  .offset-s1 {
    margin-left: 8.3333333333%;
  }

  .offset-s2 {
    margin-left: 16.6666666667%;
  }

  .offset-s3 {
    margin-left: 25%;
  }

  .offset-s4 {
    margin-left: 33.3333333333%;
  }

  .offset-s5 {
    margin-left: 41.6666666667%;
  }

  .offset-s6 {
    margin-left: 50%;
  }

  .offset-s7 {
    margin-left: 58.3333333333%;
  }

  .offset-s8 {
    margin-left: 66.6666666667%;
  }

  .offset-s9 {
    margin-left: 75%;
  }

  .offset-s10 {
    margin-left: 83.3333333333%
  }

  .offset-s11 {
    margin-left: 91.6666666667%
  }

  .offset-s12 {
    margin-left: 100%
  }
}

@media (min-width: 1025px) {
  .l-none {
    display: none;
  }

  .col {
    &.l1 {
      width: 8.3333333333%;
    }

    &.l2 {
      width: 16.6666666667%;
    }

    &.l3 {
      width: 25%;
    }

    &.l4 {
      width: 33.3333333333%;
    }

    &.l5 {
      width: 41.6666666667%;
    }

    &.l6 {
      width: 50%;
    }

    &.l7 {
      width: 58.3333333333%;
    }

    &.l8 {
      width: 66.6666666667%;
    }

    &.l9 {
      width: 75%;
    }

    &.l10 {
      width: 83.3333333333%;
    }

    &.l11 {
      width: 91.6666666667%;
    }

    &.l12 {
      width: 100%;
    }
  }

  .offset-l1 {
    margin-left: 8.3333333333%;
  }

  .offset-l2 {
    margin-left: 16.6666666667%;
  }

  .offset-l3 {
    margin-left: 25%;
  }

  .offset-l4 {
    margin-left: 33.3333333333%;
  }

  .offset-l5 {
    margin-left: 41.6666666667%;
  }

  .offset-l6 {
    margin-left: 50%;
  }

  .offset-l7 {
    margin-left: 58.3333333333%;
  }

  .offset-l8 {
    margin-left: 66.6666666667%;
  }

  .offset-l9 {
    margin-left: 75%;
  }

  .offset-l10 {
    margin-left: 83.3333333333%
  }

  .offset-l11 {
    margin-left: 91.6666666667%
  }

  .offset-l12 {
    margin-left: 100%
  }
}
